body {
    padding: 20px;
    background: #f5f5f5;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 8px 12px;
    border: 1px solid #333;
    text-align: center;
}

th {
    background: #083b30;
    color: white;
}

.even {
    background-color: #36d4c7;
}

.odd {
    background-color: #dcd859;
}

#message {
    margin-top: 10px;
    color: red;
    font-weight: bold;
}
